#!/usr/bin/env nextflow
nextflow.enable.dsl=2

params.runOptions = "-B /dataD/cancer -B /external/diskC/phelelani -B /dataG/ddd"

manifest {
    author = 'Phelelani Mpangase'
    defaultBranch = 'main'
    homePage = 'https://github.com/phelelani/nf-cancerwes'
    description = ''
    mainScript = 'main.nf'
    version = ''
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/.singularity/cache"
    runOptions = "--cleanenv " + "${params.runOptions}"
}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minute
}

process {
    // GENERAL
    cache = true
    scratch = false
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    cpus = 1
    memory = 4.GB
    time = 24.h
    
    // CONTAINERS
    withLabel: 'bwa_samtools' {
        container = 'docker://phelelani/nf-cancerwes:alignment'
    }
    withLabel: 'vep' {
        container = 'docker://phelelani/misc:vep110'
    }    
    withLabel: 'gatk' {
        container = 'docker://broadinstitute/gatk:4.4.0.0'
        clusterOptions = "--constraint=avx2"
    }
    withLabel: 'multiqc' {
        container = 'docker://phelelani/nf-rnaseqcount:multiqc'    
    }
}

// PROFILES
profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
        process.executor = 'pbs'
        process.queue = 'dev'
    }
}

// WORKFLOW VISUALISATION
trace {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec_reports/${params.workflow}_trace.txt"
}
timeline {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec_reports/${params.workflow}_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "${launchDir}/exec_reports/${params.workflow}_report.html"
}
